# 环境变量目录
.env

# 配置文件
config.ini

# Python 相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE 相关
.vscode/
.idea/
*.swp
*.swo

# 日志文件
*.log

# 其他临时文件
.DS_Store
Thumbs.db